@import "variables";
@import "common_elements";
@import "account-form";
@import "strength-bar";
@import "spinner";

body {
    margin: 0px;
    font-family: Helvetica, 'Roboto', sans-serif;
    background-color: $main-bg-color;
}

.wrapper {
    margin: auto;
    max-width: 100%;
    height: 100%;
    padding-top: 80px;
    padding-bottom: 200px;
    background-color: $main-bg-color;
}